.modal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 40%);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow: hidden;
}

.inner-modal {
    position: absolute;
    height: 80vh;
    width: 50vw;
    background-color: var(--background-color);
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    z-index: 3;
    background-size: cover;
    /* filter: blur(2px); */
}

.modal-poster {
    height: fit-content;
}

.title-rating {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.movie-info {
    margin-left: 1vw;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 75%;
    width: 75%;
    color: white;
}

.linebreak {
    width: 48vw;
    border-bottom: 2px solid white;
}

.stars {
    display: flex;
}

.close-button {
    position: absolute;
    padding: 1vw;
    right: 0;
    height: 4vh;
    filter: invert(50%);
}